* {
  font-family: 'Roboto', arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.1);
}

/* container */

.container {
  padding: 2rem;
  background-color: #F3F6F8;
}

/* content */
.payment {
  width: 600px;
  color: #333;
  margin: auto;
  background-color: #fff;
}
/* title */
.payment .title {
  padding: 1.2rem 2rem;
  display: flex;
  border: 1px solid #eee;
  border-radius: 3px;
  justify-content: space-between;
}

.payment .title svg:hover {
  transition: all 0.3s;
}

.payment .title svg:hover {
  fill: rgba(39, 142, 205, 0.8);
}

.payment .form-card {
  padding: 1.5rem 2rem;
  border: 1px solid #eee;
  border-radius: 3px;
}

/* form-card_type */
.form-card_type {
  padding-bottom: 2rem;
}

.form-card_type img{
  height: 55px;
  border-radius: 5px;
  border: 1px solid rgba(39, 142, 205, 0.5);
  box-shadow: 2px 2px 10px rgba(39, 142, 205, 0.2);
  transition: all 0.4s;
}

.form-card_type img:hover {
  border: 2px solid rgba(39, 142, 205, 0.5);
}

.form-group {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.form-group lable {
  padding-bottom: 10px;
}

.form-group input {
  font-size: 1.1rem;
  padding: 12px 14px;
  border: 1.5px solid rgba(39, 142, 205, 0.4);;
  border-radius: 3px;
  outline: none;
}

.form-card_wrap-info {
  display: flex;
}

.form-card_wrap-info .form-group:nth-of-type(3) {
  width: 120px;
}

.form-card_wrap-info .form-group:nth-of-type(2) {
  width: 120px;
  margin-right: 12px;
}

.form-card_wrap-info .form-group:nth-of-type(1) {
  flex-grow: 1;
  margin-right: 12px;
}

.payment_info {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;
}

.payment_info a {
  margin-right: 10px;
  transition: all 0.3s;
}

.payment_info a:hover {
  transform: scale(1.1);
}